$colors: (
  purple: rgba(141, 106, 159, 1),
  lavender: rgba(197, 203, 211, 1),
  teal: rgba(140, 188, 185, 1),
  gold: rgba(221, 164, 72, 1),
  red: rgba(187, 52, 47, 1),
  gray: #fbfbfb,
  bigTeal: #48c1dd,
  white: #fff,
);

:export {
  @each $key, $value in $colors {
    #{$key}: $value;
  }
}
@function color($color-name) {
  @return map-get($colors, $color-name);
}
