@import "./colors";

@font-face {
  font-family: "iAWriter";
  src: url("./fonts/iAWriterMonoS-Regular.woff2") format("woff2"),
    url("./fonts/iAWriterMonoS-Regular.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "iAWriter";
  background: color(white);
}
a {
  text-decoration: none;
  color: inherit;
}
